# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
.hypothesis/

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Some files for development
192.168.128.18.cfgshow
192.168.128.18.fabsh
192.168.128.18.switchshow
192.168.128.19.cfgshow
192.168.128.19.fabsh
192.168.128.19.switchshow
192.168.128.53.cfgshow
192.168.128.53.fabsh
192.168.128.53.switchshow
192.168.128.54.cfgshow
192.168.128.54.fabsh
192.168.128.54.switchshow
FC_Brcd01Cod
FC_Brcd01Cod_result
FC_Brcd02Cod
FC_Brcd02Cod_result
oop_fc_parcer.py
